# r/
#
# workbench/
#
# dcm2niix-master/
#
# 


###############################
# Ignore all directories and subdirectory
/**

###############################
# Un-ignore the affected subdirectory
!/.gitignore
!/mat
